@model gsiafa.Models.ContactViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-wraper">
    <section class="section bg-profile" id="profile_ripple">
        <div class="zoo-profile">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-print-6 align-self-center mb-3 mb-lg-0">
                        <div class="zoo-profile-main">
                            <div class="zoo-profile-main-pic">
                                <img src="~/images/users/profile.jpg" alt="profile pic" style="width: 128px; height: 128px" class="rounded-circle">
                                <span class="zoo-user-chat">
                                    <i class="uil uil-comment-dots"></i>
                                </span>
                            </div><!--end zoo-profile-main-pic-->
                            <div class="zoo-profile_user-detail">
                                <h5 class="zoo-user-name">George Siafa</h5>
                                <p class="cd-headline loading-bar">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible">C# ASP.NET CORE</b>
                                        <b>Web APIs</b>
                                        <b>SQL</b>
                                        <b>JavaScript/JQuery</b>
                                        <b>HTML</b>
                                        <b>GIT</b>
                                        <b>Microsoft Azure</b>
                                    </span>
                                </p>
                            </div><!--end zoo-profile_user-detail-->
                        </div> <!--end profile-main-pic-->
                    </div><!--end col-->
                    <div class="col-sm-4 col-print-4 ml-auto">
                        <ul class="list-unstyled personal-detail">
                            <li><i class="'uil uil-phone-volume mr-2"></i> <b> phone </b> : <a href="tel:+44 74461 93908">+44 74461 93908</a> </li>
                            <li class="mt-2"><i class="uil uil-envelope mt-2 mr-2"></i> <b> Email </b> : <a href="mailto:seakou2@yahoo.com">seakou2@yahoo.com</a> </li>
                            <!-- <li class="mt-2"><i class="uil uil-location-point  mt-2 mr-2"></i> <b>Location</b> : USA</li> -->
                        </ul><!--end personal-detail-->
                        <ul class="list-inline social-icon mb-0">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/george-s-b69247158" class="bg-blue">
                                    <i class="fab fa-linkedin-in"></i>

                                </a>
                            </li>

                        </ul><!--end social-icon-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div><!--end zoo-profile-->
    </section><!--end section-->

    <section class="section-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="header-title mb-3">About Me</h4>
                </div><!--end col-->
                <div class="col-sm-6 col-print-6">
                    <h4 class="text-primary font-weight-bold">I'm George Siafa</h4>

                    <p>
                        Diligent software engineer with 5+ years of experience in commercial application and software development.
                        Over the years, I have developed award winning innovative and cutting-edge business solutions, and ensured 98% on-time project completion.
                        With experience in a wide variety of software development, system architectures and programming languages, I am always current with the latest developments in the software development world.
                        I pride myself on optimising function and providing solutions that are intuitive user-friendly, adaptable and meet business requirments.

                    </p>
                    <button type="button" class="btn btn-sm btn-soft-primary">Download CV</button>
                </div><!--end col-->
                <div class="col-sm-5 col-print-5 offset-lg-1 align-self-center">
                    <h4 class="text-primary font-weight-bold">Over view</h4>
                    <p>
                        <span class="personal-detail-title">Name</span>
                        <span class="personal-detail-info">George Siafa</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Date of birth</span>
                        <span class="personal-detail-info">22 May 1995</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Spoken Langage</span>
                        <span class="personal-detail-info">English</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Nationality</span>
                        <span class="personal-detail-info">British</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Interest</span>
                        <span class="personal-detail-info">coding, reading, gym, football</span>
                    </p>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="header-title mb-3">Education & Skills</h4>
                </div><!--end col-->
                <div class="col-sm-6 col-print-6">
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            <div class="resume-icon">
                                <i class="uil uil-graduation-hat"></i>
                                <h5 class="mt-n2">Education</h5>
                            </div><!--end resume-icon-->
                            <div class="timeline">
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="font-14">2005 - 2010</div>
                                        <h5 class="my-1">St Simon Baptist School (Monrovia,Liberia)</h5>
                                        <p>Secondary Education</p>
                                    </div>
                                </div><!--end time-item-->
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="font-14">2010-2014</div>
                                        <h5 class="my-1">Cathays High School (Cardiff,Wales)</h5>
                                        <p>Secondary Education (A-Levels)</p>
                                    </div>
                                </div><!--end time-item-->
                                <div class="time-item mt-3">
                                    <div class="item-info">
                                        <div class="font-14">2014-2018</div>
                                        <h5 class="my-1">University of South wales</h5>
                                        <p>Computer Science (Masters)</p>
                                    </div>
                                </div><!--end time-item-->

                            </div><!--end timeline-->
                        </div><!--end col-->
                        <div class="col-sm-6 col-print-6">
                            <div class="resume-icon">
                                <i class="uil uil-suitcase-alt"></i>
                                <h5 class="mt-n2">Experience</h5>
                            </div><!--end resume-icon-->
                            <div class="timeline">
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="font-14">Mar 2021 - Present</div>
                                        <h5 class="my-1">Application Developer</h5>
                                        <p>Acquis Insurance Management</p>
                                    </div>
                                </div><!--end time-item-->
                                <div class="time-item mt-3">
                                    <div class="item-info">
                                        <div class="font-14">Sept 2020 - Mar 2021</div>
                                        <h5 class="my-1">Software Developer</h5>
                                        <p>Academii</p>
                                    </div>
                                </div><!--end time-item-->
                                <div class="time-item  mt-3">
                                    <div class="item-info">
                                        <div class="font-14">Dec 2018 - Sep 2020</div>
                                        <h5 class="my-1">Business Process Analyst</h5>
                                        <p>TrakCel Ltd.</p>
                                    </div>
                                </div><!--end time-item-->
                                <div class="time-item  mt-3">
                                    <div class="item-info">
                                        <div class="font-14">Jun 2018 - Dec 2018</div>
                                        <h5 class="my-1">Software Developer</h5>
                                        <p>Advanced Secure Technologies</p>
                                    </div>
                                </div><!--end time-item-->
                            </div><!--end timeline-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
                <div class="col-sm-6 col-print-6 align-self-center">
                    <div class="skills mt-4">
                        <div class="skill-box">
                            <h4 class="skill-title">HTML5, CSS3, SQL Server &amp; Javascript </h4>
                            <div class="progress-line">
                                <span data-percent="98" style="width: 98%;">
                                    <span class="percent-tooltip">98%</span>
                                </span>
                            </div>
                        </div><!--end skill-box-->
                        <div class="skill-box">
                            <h4 class="skill-title">Software Development</h4>
                            <div class="progress-line">
                                <span data-percent="90" style="width: 90%;">
                                    <span class="percent-tooltip">90%</span>
                                </span>
                            </div>
                        </div><!--end skill-box-->
                        <div class="skill-box">
                            <h4 class="skill-title">Database design</h4>
                            <div class="progress-line">
                                <span data-percent="80" style="width: 80%;">
                                    <span class="percent-tooltip">80%</span>
                                </span>
                            </div>
                        </div><!--end skill-box-->
                        <div class="skill-box">
                            <h4 class="skill-title">Agile Frameworks </h4>
                            <div class="progress-line">
                                <span data-percent="95" style="width: 95%;">
                                    <span class="percent-tooltip">95%</span>
                                </span>
                            </div>
                        </div><!--end skill-box-->
                        <div class="skill-box">
                            <h4 class="skill-title">Azure clouds, CI/CD automation </h4>
                            <div class="progress-line">
                                <span data-percent="85" style="width: 85%;">
                                    <span class="percent-tooltip">85%</span>
                                </span>
                            </div>
                        </div><!--end skill-box-->
                    </div><!--end skill-->
                </div><!--end col-->

            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="bg-funfact section-md">
        <div class="container">
            <div class="row justify-content-center" id="counter">
                <div class="col-sm-4 digit-counter">
                    <div class="media">
                        <i class="uil uil-cell text-warning mr-2 align-self-center"></i>
                        <div class="media-body align-self-center">
                            <h3 class="mb-1"><span class="counter-value" data-count="10">10</span>+</h3>
                            <h5 class="counter-name mt-0">Complated Projects</h5>
                        </div>
                    </div><!--end media-->
                </div><!--end col-->
                <div class="col-sm-4 digit-counter">
                    <div class="media">
                        <i class="uil uil-smile text-success mr-2 align-self-center"></i>
                        <div class="media-body align-self-center">
                            <h3 class="mb-1"><span class="counter-value" data-count="100">1</span>+</h3>
                            <h5 class="counter-name mt-0">Happy Clients</h5>
                        </div>
                    </div> <!--end media-->
                </div><!--end col-->
                <div class="col-sm-4 digit-counter">
                    <div class="media">
                        <i class="uil uil-trophy text-pink mr-2 align-self-center"></i>
                        <div class="media-body align-self-center">
                            <h3 class="mb-1"><span class="counter-value" data-count="2">1</span></h3>
                            <h5 class="counter-name mt-0">Awards Received</h5>
                        </div>
                    </div><!--end media-->
                </div> <!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md my-clients">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-2 col-6">
                    <img src="~/images/brand/a.png" style="width:180px !important; height: 80px !important;" alt="" class="img-fluid ">
                </div><!--end col-->
                <div class="col-md-2 col-6">
                    <img src="~/images/brand/1.png" style="width:180px !important; height: 80px !important;" alt="" class="img-fluid ">
                </div><!--end col-->
                <div class="col-md-2 col-6">
                    <img src="~/images/brand/b.png" style="width:180px !important; height: 80px !important;" alt="" class="img-fluid ">
                </div><!--end col-->
                <div class="col-md-2 col-6">
                    <img src="~/images/brand/10.png" style="width:180px !important; height: 80px !important;" alt="" class="img-fluid ">
                </div><!--end col-->
                <div class="col-md-2 col-6">
                    <img src="~/images/brand/9.png" style="width:180px !important; height: 80px !important;" alt="" class="img-fluid ">
                </div> <!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md contact-form">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <h4 class="header-title mb-3">Contact Me</h4>
                </div> <!--end col-->
                <div class="col-sm-4">
                    <div class="contact-info">
                        <div class="icon">
                            <i class='uil uil-phone-volume'></i>
                        </div>
                        <div class="content">
                            <h5>Mobile</h5>
                            <span>(+44) 7446193908</span>
                        </div>
                    </div><!--end contact-info-->

                    <div class="contact-info">
                        <div class="icon">
                            <i class='uil uil-envelope'></i>
                        </div>
                        <div class="content">
                            <h5>Mail Me:</h5>
                            <span>seakou2@yahoo.com</span>
                        </div>
                    </div><!--end contact-info-->

                    <div class="contact-info">
                        <div class="icon">
                            <i class='uil uil-map-marker'></i>
                        </div>
                        <div class="content">
                            <h5>Find Me:</h5>
                            <span>Cardiff, UK</span>
                        </div>
                    </div><!--end contact-info-->
                </div><!--end col-->
                <div class="col-sm-8">
                    <div class="contact-form">
                        <div id="message"></div>
                        @if (@ViewBag.success == true)
                        {
                            <div class="card row w-100 alert alert-success alert-dismissible fade show col-md-3" role="alert">
                                <button type="button" class="close" id="close" data-dismiss="alert" aria-label="Close">
                                    <h1>Your message was sent successfully. </h1>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        <form method="post" asp-action="Index" id="confirmationForm" name="confirmationForm" asp-controller="Home" id="contact-form">

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Name</label>
                                    <input asp-for="Name" title=" " type="text" class="form-control" id="name">
                                    <span asp-validation-for="Name" class="text-danger"></span>

                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email address</label>
                                    <input type="email" asp-for="Email" class="form-control" id="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div><!--end col-->
                                <div class="form-group col-md-12">
                                    <label>Message</label>
                                    <textarea rows="4" asp-for="Message" form="confirmationForm" class="form-control" id="confirmationText"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div><!--end col-->
                                <div class="form-group col-md-12">
                                    <input type="submit" id="registerSubmit" class="btn btn-primary px-5 py-2" value="Send">
                                    <div id="simple-msg"></div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </form><!--end form-->
                    </div><!--end contact-form-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md thanks-text">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Thank you !</h3>
                </div> <!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->


</div><!--end main-wraper-->
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}